@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;800&display=swap");

body {
  margin: 0;

  font-family: "Noto Sans KR", sans-serif;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 18px;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.title {
  position: absolute;
  z-index: 99;
  font-weight: 200;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  font-size: 23px;
  top: 35px;
}

.dstitle {
  position: absolute;
  bottom: 50px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.dsname {
  z-index: 9;
  text-align: center;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  margin: 0;
  color: black;
}

.type {
  width: 30px;
  font-weight: 300;
  color: white;
  background-color: rgb(253, 114, 28);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 8px;
  margin: 10px auto;
}

.desc {
  font-size: 13px;
  font-weight: 300;
}

.bg {
  position: relative;
  top: -50px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(13, 16, 33);
}

.container {
  position: relative;
  height: fit-content;
  overflow: hidden;
  position: relative;
}

.dsmon {
  width: 200px;
  height: auto;
}

.overlay {
  position: absolute;
  width: 189.1px;
  height: 280px;
  background: linear-gradient(
    105deg,
    transparent 40%,
    #8432ff99 50%,
    transparent 60%
  );
  background-size: 150% 150%;
  background-position: 100%;
  mix-blend-mode: color-dodge;
  color: white;
  filter: brightness(1.1);
}

.overlay-mouse {
  position: absolute;
  width: 10px;
  height: 10px;
  box-shadow: 10px -5px 58px 0px rgb(255, 255, 255);
  -webkit-box-shadow: 10px -5px 58px 0px rgb(255, 255, 255);
  -moz-box-shadow: 10px -5px 58px 0px rgb(255, 255, 255);
}

.bg-circle {
  position: absolute;
  top: -50vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  min-width: 800px;
  height: 100vh;
  background-color: rgb(253, 114, 28);
  border-radius: 100%;
}

@media screen and (max-width: 756px) {
  .desc {
    font-size: 9px;
    margin-bottom: 20px;
  }
}
